body{
  background: white;
  margin: 0;
}

/* top navigation bar */
#top-bar{
  width: 100%;
  background-color: #a3d5ff;
  padding: 15px 0;
}

#main-page{
  width: 90%;
  margin: 20px auto;
  background: #dff2ff;
  border-radius: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  padding: 30px;
}

/* center the icons */
#main-list ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

/* icon style */
#main-list i{
  font-size: 22px;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

/* hover effect */
#main-list a:hover i{
  transform: scale(1.3);
  color: #000000;
}